/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-style: italic;
  color: #ebaca2;
  font-family: verdana, arial, sans-serif; 
}

button {
  border-style: ridge;
  padding: 15px;
  border-radius: 50%;
}
div#gameButtonArea {
  padding-top: 50px;
}
#gameButtonArea > button {
  justify-content: space-between;
  display:inline;
  width:200px;
  height:200px;
  margin: 2px;
  
}
.hidden{display:none;}

#button1{
  background-color: lightgreen;
}
#button2{
  background-color: lightblue;
}
#button3{
  background-color: pink;
}
#button4{
  background-color: lightyellow;
}
#button5 {
  background-color: grey;
}
#button1:active, #button1.lit{
  background-color: green;
}
#button2:active, #button2.lit{
  background-color: blue;
}
#button3:active, #button3.lit{
  background-color: red;
}
#button4:active, #button4.lit{
  background-color: yellow;
}
#button5:active, #button5.lit{
  background-color: black;
}
#startBtn:active{
  border-radius: 45%;
}
h2 {
  margin-left: 70%;
}
.image {
  border-radius: 50%;
}
.alert {
  color: red;
}
